:root {
    --color-principal: #18442f;
    --color-secundario: #57bd60;
    --color-claro: #fcfcfc;
    --color-borde: #0c2217;
    --color-activo: #6cff4f;
    --color-inactivo: #ff6161;
    --color-alerta: var(--color-inactivo);
    --color-labels: #59805c;

    --font: Verdana, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: var(--font);
    background-color: var(--color-claro);
    color: var(--color-borde);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    margin-top: 3vh;
}


.encabezado {
    background-color: var(--color-principal);
    color: var(--color-claro);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 1rem;
}

.encabezado h1 {
    font-size: 1.3rem;
    flex-shrink: 1;
}

.encabezado-info {
    margin-top: auto;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
    position: relative;
    left: -3.5rem;
    margin-right: -3.5rem;
    font-size: 0.9rem;
    flex-shrink: 1;
}

.nav-menu {
    /* padding: 0 0.25rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 1rem;
}

.nav-menu li {
    border: var(--color-borde) 1px solid;
    padding: 0.3rem;
    flex: 1;
    text-align: center;
    font-size: 1rem;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--color-principal);
}

.resumen-operaciones {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 2rem 1fr 1fr;
    gap: 0.3rem;
    margin: 0 1vw;

    grid-template-areas:
        "titulo titulo"
        "alerta equipos"
        "misiones tortugas"
    ;
}

.resumen-operaciones h2 {
    grid-area: titulo;
    text-align: center;
    font-size: 1.5rem;
}

.tarjeta {
    border: var(--color-borde) 1px solid;
    border-radius: 5px;
    background-color: var(--color-claro);
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.equipos-resumen {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 1fr;
    gap: 0.3rem;
}

.equipos-activos {
    border: var(--color-activo) 1px solid;
    border-radius: 4px;
    color: var(--color-activo);
    padding: 0.3rem;
    text-align: center;
}

.equipos-inactivos {
    border: var(--color-inactivo) 1px solid;
    border-radius: 4px;
    color: var(--color-inactivo);
    padding: 0.3rem;
    text-align: center;
}

.misiones-completadas {
    grid-area: misiones;
    gap: 1rem;
    flex-wrap: wrap;
}

.misiones-completadas p {
    flex-grow: 0;
}

.barra-externa {
    flex: 1 0 auto;
    display: flex;
    border: var(--color-borde) 1px solid;
    border-radius: 5px;
}

.barra-vacia {
    flex: 41 0 82px;
}

.barra-llena {
    flex: 25 0 50px;
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
    color: var(--color-claro);
}

.barra-llena {
    font-size: 0.8rem;
}



.ultima-alerta {
    grid-area: alerta;
    display: grid;
    position: relative;
    border-color: var(--color-alerta);
}

.alerta-icon {
    color: var(--color-alerta);
    font-size: 1.8rem;
    position: absolute;
    top: 5px;
    right: 5px;
}

.tortugas-rescatadas {
    grid-area: tortugas;
    flex-direction: column;
    justify-content: space-around;
}

.tortugas-rescatadas span {
    color: var(--color-secundario);
    font-size: 3rem;
}

.misiones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.misiones h2 {
    text-align: center;
}

.misiones h3 {
    color: var(--color-secundario);
}

.misiones article {
    border: var(--color-borde) 1px solid;
    border-radius: 5px;
    margin: 0 1vw;
    padding: 0.5rem;
}
.misiones span {
    color: var(--color-labels);
}

.equipos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.equipos h2 {
    text-align: center;
}

.equipos h3 {
    color: var(--color-secundario);
}

.equipos article {
    border: var(--color-borde) 1px solid;
    border-radius: 5px;
    margin: 0 1vw;
    padding: 0.5rem;
}
.equipos span {
    color: var(--color-labels);
}



@media (min-width: 48rem) {
    .encabezado {
        justify-content: space-between;
    }

    .encabezado h1 {
        font-size: 1.8rem;
        margin-top: auto;
    }

    .encabezado-info {
        font-size: 1rem;
        position: static;
        margin-right: 0;
    }

    h1 br {
        display: none;
    }

}

@media (min-width: 64rem) {
    .encabezado {
        justify-content: space-between;
    }

    .encabezado h1 {
        font-size: 2.3rem;
        margin-top: auto;
    }

    .encabezado-info {
        font-size: 1.3rem;
        position: static;
        margin-right: 0;
    }

    h1 br {
        display: none;
    }

}