:root{
    --color-principal: #18442f;
    --color-secundario: #2fda8d;
    --color-claro: #fcfcfc;
    --color-borde: #0c2217;

    --font: Verdana, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: var(--font);
    background-color: var(--color-claro);
    color: var(--color-borde);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


.encabezado {
    background-color: var(--color-principal);
    color: var(--color-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 1rem;
}